html
{
    background: rgb(255, 255, 255);
}

h1
{
    color: black;
    text-align: left;
    padding-top: 20px;
    padding-left: 30px;
    font-size: 200%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.modeli h1{
    color: black;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    font-size: 210%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h2
{
    color: black;
    padding-bottom: 20px;
    font-family: 'Source Serif 4', sans-serif;
    font-size: 250%;
}
h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 20px;
}
p{
    line-height: 20px;
    color: #222;
    padding-bottom: 15px;
}
body
{
    font-family: 'Roboto', sans-serif;
    font-size: large;
    margin: 0px;
    padding: 0ch;
    background-color: rgb(255, 255, 255);
}
table
{
    width: 100%;
    table-layout: fixed;
}
td 
{
    vertical-align: top;
    padding: 10px 0px 0px 20px;
}
img
{
    width: 100%;
    margin: 0px;
    border: none;
}
article
{
    padding-left: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}
article ul{
    padding-left: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}
article li{
    padding-bottom: 10px;
}
article li img{
    height: 100px;
    width: 100px;
}

iframe
{
    width: 100%;
    border: 0;
    height: 550px;
}


a.alink
{
    display: inline;
    font-weight: 100;
    color: blue;
    padding: 0;
    text-decoration: underline;
    text-transform: none;
    float: none;
}
.Slikee
{
    width: 100%;
    margin: 0px;
    border: none; 
}


/*Footer */


.kutija{
	max-width: 1100px;
    margin:auto;
}

.redak{
	display: flex;
    flex-wrap: wrap;
}

.footer{
	background-color: #222;
    padding: 50px 0;
}

.stupac{
   width: 30%;
   padding: 0 15px;
   margin: 0 auto;
}

.stupac ul{
    list-style: none;
    align-items: center;
}

.stupac h4{
	font-size: 18px;
	color: white;
	
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.stupac h4::before{
	content: "";
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: red;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.stupac ul li:not(:last-child){
	margin-bottom: 10px;
}

.stupac ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: white;
	text-decoration: none;
	font-weight: 300;
	display: block;
	transition: all 0.3s ease;
}

.stupac ul li a:hover{
	color: red;
	padding-left: 8px;
}

.stupac .pronađiteNasLinkovi a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #222;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: white;
	transition: all 0.5s ease;
}

.stupac .pronađiteNasLinkovi a:hover{
	color: red;
	background-color: white;
}


@media(max-width: 767px){
  .stupac{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .stupac{
    width: 100%;
}
}



/*Meni */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navigacija {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: white;
}
.naslov{
    font-size: 2.5rem;
    margin: 0.5rem;
    margin-left: 2rem;
}
.linkovi ul{
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    display: flex;
}
.linkovi li{
    list-style: none;
}.linkovi li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}
.linkovi li:hover{
    background-color: red;
}
.dropMeni{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}
.dropMeni .linija{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
@media(max-width:1400px){
    .dropMeni{
        display: flex;
    }
    .linkovi{
        display: none;
        width: 100%;
    }
    .navigacija{
        flex-direction: column;
        align-items: flex-start;
    }
    .linkovi ul{
        flex-direction: column;
        width: 100%;
    }
    .linkovi li{
        text-align: center;
    }
    .linkovi li a{
        padding: 0.5rem 1rem;
    }
    .linkovi.active{
        display: flex;
    }
}

/*Galerija */
.galerija{
    margin: 10px 30px;
}
.galerija img{
    width: 450px;
    padding: 5px;
}
.galerija img:hover{
    transform: scale(1.1);
}

/*gfhgfh*/
.flex-container {
    display: flex;
    flex-wrap: wrap;
}
.flex-container > div {
    background-color: #f1f1f1;
    width: 30%;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
.slikec img{
    width: 100%;
}
.snizeno{
    text-decoration: line-through;
}
.button {
    background-color: red;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: 0.4s;
  }
.button:hover{
    background-color: yellow;
    color: black;
}
@media (max-width:1000px){
    .flex-container > div{
        width: 300px;
    }
}
